<turbo-frame id="schedules">
  <div>
    <p>
      Your schedule:
      <% @areas.each do |area| %>
        <p>
          <strong><%= area.name %></strong>
          <br>
          <span><%= area.schedules.first.day %></span>
          <br>
          <span><%= area.schedules.first.time %></span>
        </p>
      <% end %>
    </p>


  <p>
    <a href="/">New Search</a>
  </p>
</turbo-frame>
